body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(88, 0, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u6453 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:227px;
  width:281px;
  height:92px;
  display:flex;
  text-align:center;
}
#u6453 .text {
  position:absolute;
  align-self:center;
  padding:0px 3px 0px 3px;
  box-sizing:border-box;
  width:100%;
}
#u6453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6454_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:178px;
  height:9px;
}
#u6454 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:261px;
  width:173px;
  height:4px;
  display:flex;
}
#u6454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6455 {
  position:absolute;
  left:142px;
  top:710px;
}
#u6455_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6455_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6456 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6455_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6455_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6457 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6458 {
  position:absolute;
  left:287px;
  top:716px;
}
#u6458_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6458_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
}
#u6459 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u6460 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:19px;
  width:36px;
  height:50px;
  display:flex;
}
#u6460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6458_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6458_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
}
#u6461 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u6462 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:19px;
  width:36px;
  height:50px;
  display:flex;
}
#u6462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6463 {
  position:absolute;
  left:50px;
  top:641px;
}
#u6463_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6463_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6464_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background:inherit;
  background-color:rgba(5, 2, 164, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6463_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6463_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6465_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background:inherit;
  background-color:rgba(88, 0, 170, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6466_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:214px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.26666666666666666);
  box-sizing:border-box;
  border-width:7px;
  border-style:solid;
  border-color:rgba(88, 0, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6466 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:337px;
  width:140px;
  height:214px;
  display:flex;
}
#u6466 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:184px;
}
#u6467 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:365px;
  width:129px;
  height:184px;
  display:flex;
}
#u6467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6468_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6468 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:564px;
  width:140px;
  height:22px;
  display:flex;
}
#u6468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6469_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:22px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6469 {
  border-width:0px;
  position:absolute;
  left:196px;
  top:564px;
  width:35px;
  height:22px;
  display:flex;
}
#u6469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:2px;
}
#u6470 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:365px;
  width:116px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.05046784560068337deg);
  -moz-transform:rotate(0.05046784560068337deg);
  -ms-transform:rotate(0.05046784560068337deg);
  transform:rotate(0.05046784560068337deg);
}
#u6470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6471_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6471 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:570px;
  width:28px;
  height:10px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6471 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Oblique", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#5800AA;
  text-align:center;
}
#u6472 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:345px;
  width:189px;
  height:35px;
  display:flex;
  font-family:"Comic Sans MS Oblique", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#5800AA;
  text-align:center;
}
#u6472 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6473_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:163px;
  height:5px;
}
#u6473 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:333px;
  width:160px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(0.0672730399868573deg);
  -moz-transform:rotate(0.0672730399868573deg);
  -ms-transform:rotate(0.0672730399868573deg);
  transform:rotate(0.0672730399868573deg);
}
#u6473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6474_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:159px;
  height:5px;
}
#u6474 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:554px;
  width:156px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-0.12678746857900733deg);
  -moz-transform:rotate(-0.12678746857900733deg);
  -ms-transform:rotate(-0.12678746857900733deg);
  transform:rotate(-0.12678746857900733deg);
}
#u6474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6475_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:5px;
}
#u6475 {
  border-width:0px;
  position:absolute;
  left:233px;
  top:444px;
  width:223px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-90.06376034093554deg);
  -moz-transform:rotate(-90.06376034093554deg);
  -ms-transform:rotate(-90.06376034093554deg);
  transform:rotate(-90.06376034093554deg);
}
#u6475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6476_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:226px;
  height:5px;
}
#u6476 {
  border-width:0px;
  position:absolute;
  left:76px;
  top:444px;
  width:223px;
  height:2px;
  display:flex;
  -webkit-transform:rotate(-90.06376034093554deg);
  -moz-transform:rotate(-90.06376034093554deg);
  -ms-transform:rotate(-90.06376034093554deg);
  transform:rotate(-90.06376034093554deg);
}
#u6476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6477 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:330px;
  width:11px;
  height:10px;
  display:flex;
}
#u6477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6478 {
  border-width:0px;
  position:absolute;
  left:339px;
  top:330px;
  width:11px;
  height:10px;
  display:flex;
}
#u6478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6479 {
  border-width:0px;
  position:absolute;
  left:337px;
  top:551px;
  width:11px;
  height:10px;
  display:flex;
}
#u6479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:10px;
}
#u6480 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:551px;
  width:11px;
  height:10px;
  display:flex;
}
#u6480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6481_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:214px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.26666666666666666);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(88, 0, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6481 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:337px;
  width:140px;
  height:214px;
  display:flex;
}
#u6481 .text {
  position:absolute;
  align-self:flex-start;
  padding:4px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:184px;
}
#u6482 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:365px;
  width:135px;
  height:184px;
  display:flex;
}
#u6482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6483 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:564px;
  width:140px;
  height:22px;
  display:flex;
}
#u6483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6484_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:22px;
  background:inherit;
  background-color:rgba(194, 128, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6484 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:564px;
  width:104px;
  height:22px;
  display:flex;
}
#u6484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:2px;
}
#u6485 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:365px;
  width:116px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.05046784560068337deg);
  -moz-transform:rotate(0.05046784560068337deg);
  -ms-transform:rotate(0.05046784560068337deg);
  transform:rotate(0.05046784560068337deg);
}
#u6485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6486_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:10px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6486 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:570px;
  width:30px;
  height:10px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u6486 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6487_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Comic Sans MS Oblique", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#5800AA;
  text-align:center;
}
#u6487 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:342px;
  width:219px;
  height:47px;
  display:flex;
  font-family:"Comic Sans MS Oblique", "Comic Sans MS Normal", "Comic Sans MS", sans-serif;
  font-weight:400;
  font-style:oblique;
  font-size:14px;
  color:#5800AA;
  text-align:center;
}
#u6487 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6488_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:406px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(0, 0, 170, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6488 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:217px;
  width:341px;
  height:406px;
  display:flex;
}
#u6488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:24px;
}
#u6489 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:593px;
  width:108px;
  height:24px;
  display:flex;
  font-family:"Algerian Bold", "Algerian Normal", "Algerian", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:rgba(3, 191, 22, 0.9921568627450981);
  text-align:center;
}
#u6489 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u6490 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:176px;
  width:195px;
  height:38px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u6490 .text {
  position:absolute;
  align-self:flex-start;
  padding:3px 3px 3px 3px;
  box-sizing:border-box;
  width:100%;
}
#u6490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6491 {
  border-width:0px;
  position:absolute;
  left:8px;
  top:124px;
  width:146px;
  height:47px;
}
#u6491_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6491_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(5, 2, 164, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6492 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u6493 {
  border-width:0px;
  position:absolute;
  left:99px;
  top:9px;
  width:25px;
  height:26px;
  display:flex;
}
#u6493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6491_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:47px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6491_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  background:inherit;
  background-color:rgba(88, 0, 170, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6494 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:44px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
  text-align:left;
}
#u6494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:26px;
}
#u6495 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:11px;
  width:25px;
  height:26px;
  display:flex;
}
#u6495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
}
#u6497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
  display:flex;
  font-family:"Tw Cen MT Normal", "Tw Cen MT", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.6588235294117647);
}
#u6497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6498 {
  position:absolute;
  left:19px;
  top:21px;
}
#u6498_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6498_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6499 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u6500 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u6500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6498_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6498_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6501 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u6502 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u6502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6503 {
  position:absolute;
  left:293px;
  top:21px;
}
#u6503_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6503_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u6505 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u6505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6503_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6503_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6506 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u6507 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u6507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6508 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:28px;
  width:152px;
  height:64px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6509 {
  position:absolute;
  left:34px;
  top:66px;
  visibility:hidden;
}
#u6509_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6509_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6510 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  display:flex;
}
#u6510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6511_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:552px;
}
#u6511 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:69px;
  width:265px;
  height:552px;
  display:flex;
}
#u6511 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6511_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6512 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:639px;
  width:300px;
  height:43px;
}
#u6512_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6512_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(138, 137, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6513 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6512_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6512_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(88, 0, 170, 0.7215686274509804);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6514 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:292px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Broadway Bold", "Broadway Normal", "Broadway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#5800AA;
  text-align:center;
}
#u6515 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:5px;
  width:292px;
  height:64px;
  display:flex;
  font-family:"Broadway Bold", "Broadway Normal", "Broadway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#5800AA;
  text-align:center;
}
#u6515 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6516_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:35px;
}
#u6516p000 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:6px;
  width:30px;
  height:8px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6516p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:30px;
  height:8px;
}
#u6516p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-6px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6516p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:30px;
  height:30px;
}
#u6516p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:16px;
  width:6px;
  height:8px;
  -webkit-transform:rotate(-1.3239170120023225deg);
  -moz-transform:rotate(-1.3239170120023225deg);
  -ms-transform:rotate(-1.3239170120023225deg);
  transform:rotate(-1.3239170120023225deg);
}
#u6516p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:6px;
  height:8px;
}
#u6516 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:128px;
  width:4px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(1.3239170120023225deg);
  -moz-transform:rotate(1.3239170120023225deg);
  -ms-transform:rotate(1.3239170120023225deg);
  transform:rotate(1.3239170120023225deg);
}
#u6516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6517_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:35px;
}
#u6517p000 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:6px;
  width:28px;
  height:8px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6517p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:28px;
  height:8px;
}
#u6517p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6517p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u6517p002 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(-1.3239170120023225deg);
  -moz-transform:rotate(-1.3239170120023225deg);
  -ms-transform:rotate(-1.3239170120023225deg);
  transform:rotate(-1.3239170120023225deg);
}
#u6517p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:8px;
  height:8px;
}
#u6517 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:130px;
  width:4px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(1.3239170120023225deg);
  -moz-transform:rotate(1.3239170120023225deg);
  -ms-transform:rotate(1.3239170120023225deg);
  transform:rotate(1.3239170120023225deg);
}
#u6517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
}
#u6518 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:551px;
  width:113px;
  height:70px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
}
#u6518 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6519_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:40px;
}
#u6519p000 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:7px;
  width:34px;
  height:10px;
  -webkit-transform:rotate(-269.7403273313514deg);
  -moz-transform:rotate(-269.7403273313514deg);
  -ms-transform:rotate(-269.7403273313514deg);
  transform:rotate(-269.7403273313514deg);
}
#u6519p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:10px;
}
#u6519p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-7px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(-269.7403273313514deg);
  -moz-transform:rotate(-269.7403273313514deg);
  -ms-transform:rotate(-269.7403273313514deg);
  transform:rotate(-269.7403273313514deg);
}
#u6519p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:30px;
  height:30px;
}
#u6519p002 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:21px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-90.7403273313514deg);
  -moz-transform:rotate(-90.7403273313514deg);
  -ms-transform:rotate(-90.7403273313514deg);
  transform:rotate(-90.7403273313514deg);
}
#u6519p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6519 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:544px;
  width:4px;
  height:25px;
  display:flex;
  -webkit-transform:rotate(90.7403273313514deg);
  -moz-transform:rotate(90.7403273313514deg);
  -ms-transform:rotate(90.7403273313514deg);
  transform:rotate(90.7403273313514deg);
}
#u6519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6520_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:56px;
}
#u6520p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:16px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(-269.6572726013434deg);
  -moz-transform:rotate(-269.6572726013434deg);
  -ms-transform:rotate(-269.6572726013434deg);
  transform:rotate(-269.6572726013434deg);
}
#u6520p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:52px;
  height:10px;
}
#u6520p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(-269.6572726013434deg);
  -moz-transform:rotate(-269.6572726013434deg);
  -ms-transform:rotate(-269.6572726013434deg);
  transform:rotate(-269.6572726013434deg);
}
#u6520p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:32px;
  height:30px;
}
#u6520p002 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:36px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(-178.65727260134338deg);
  -moz-transform:rotate(-178.65727260134338deg);
  -ms-transform:rotate(-178.65727260134338deg);
  transform:rotate(-178.65727260134338deg);
}
#u6520p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:8px;
  height:8px;
}
#u6520 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:501px;
  width:4px;
  height:41px;
  display:flex;
  -webkit-transform:rotate(178.65727260134338deg);
  -moz-transform:rotate(178.65727260134338deg);
  -ms-transform:rotate(178.65727260134338deg);
  transform:rotate(178.65727260134338deg);
}
#u6520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6521_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:65px;
}
#u6521p000 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:20px;
  width:60px;
  height:10px;
  -webkit-transform:rotate(-270.47950554786905deg);
  -moz-transform:rotate(-270.47950554786905deg);
  -ms-transform:rotate(-270.47950554786905deg);
  transform:rotate(-270.47950554786905deg);
}
#u6521p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:10px;
}
#u6521p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(-270.47950554786905deg);
  -moz-transform:rotate(-270.47950554786905deg);
  -ms-transform:rotate(-270.47950554786905deg);
  transform:rotate(-270.47950554786905deg);
}
#u6521p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:32px;
  height:30px;
}
#u6521p002 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:47px;
  width:8px;
  height:6px;
  -webkit-transform:rotate(-164.47950554786908deg);
  -moz-transform:rotate(-164.47950554786908deg);
  -ms-transform:rotate(-164.47950554786908deg);
  transform:rotate(-164.47950554786908deg);
}
#u6521p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:6px;
}
#u6521 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:444px;
  width:4px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(164.47950554786908deg);
  -moz-transform:rotate(164.47950554786908deg);
  -ms-transform:rotate(164.47950554786908deg);
  transform:rotate(164.47950554786908deg);
}
#u6521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6522 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:345px;
  width:135px;
  height:99px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6522 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6523 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:414px;
  width:135px;
  height:87px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6523 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  text-align:left;
}
#u6524 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:147px;
  width:133px;
  height:35px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  text-align:left;
}
#u6524 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6525 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:147px;
  width:113px;
  height:50px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6525 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
