body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:363px;
  height:241px;
}
#u6121 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:220px;
  width:353px;
  height:231px;
  display:flex;
}
#u6121 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6121_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6122 {
  position:absolute;
  left:142px;
  top:710px;
}
#u6122_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6122_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6123 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6123_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6122_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6122_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6124 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6124_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6125 {
  position:absolute;
  left:287px;
  top:716px;
}
#u6125_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6125_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
}
#u6126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6126 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6126_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u6127 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:19px;
  width:36px;
  height:50px;
  display:flex;
}
#u6127 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6127_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6125_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6125_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
}
#u6128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:87px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:rgba(255, 255, 255, 0.996078431372549);
}
#u6128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u6129 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:19px;
  width:36px;
  height:50px;
  display:flex;
}
#u6129 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6130 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:151px;
  width:265px;
  height:28px;
  display:flex;
  font-family:"Arial Black", "Arial Normal", "Arial", sans-serif;
  font-weight:900;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u6130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6131 {
  position:absolute;
  left:316px;
  top:134px;
}
#u6131_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6131_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  display:flex;
}
#u6132 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:41px;
  height:38px;
  display:flex;
}
#u6133 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6131_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6131_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:61px;
  display:flex;
}
#u6134 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:38px;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:14px;
  width:41px;
  height:38px;
  display:flex;
}
#u6135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:226px;
  width:335px;
  height:214px;
}
#u6136_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:214px;
  overflow:hidden;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:462px;
  width:371px;
  height:222px;
}
#u6137_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:371px;
  height:222px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  box-sizing:border-box;
  border-width:4px;
  border-style:solid;
  border-color:rgba(88, 0, 170, 1);
  border-radius:11px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6137_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6137_state0_content {
  left:-4px;
  top:-4px;
}
#u6138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:363px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:309px;
  height:363px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u6138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6138_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
  display:flex;
  font-family:"Tw Cen MT Normal", "Tw Cen MT", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.6588235294117647);
}
#u6140 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6140_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6141 {
  position:absolute;
  left:19px;
  top:21px;
}
#u6141_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6141_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6142 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6142_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u6143 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6143_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6141_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6141_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u6145 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6145_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6146 {
  position:absolute;
  left:293px;
  top:21px;
}
#u6146_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6146_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6147 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6147_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u6148 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6146_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6146_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u6149 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u6150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:44px;
  width:88px;
  height:32px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u6151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6152 {
  position:absolute;
  left:34px;
  top:66px;
  visibility:hidden;
}
#u6152_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6152_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:326px;
  height:719px;
  display:flex;
}
#u6153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:552px;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:69px;
  width:265px;
  height:552px;
  display:flex;
}
#u6154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:639px;
  width:300px;
  height:43px;
}
#u6155_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6155_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(138, 137, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6155_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u6155_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  background:inherit;
  background-color:rgba(88, 0, 170, 0.7215686274509804);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u6157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Broadway Bold", "Broadway Normal", "Broadway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#5800AA;
  text-align:center;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:5px;
  width:247px;
  height:64px;
  display:flex;
  font-family:"Broadway Bold", "Broadway Normal", "Broadway", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#5800AA;
  text-align:center;
}
#u6158 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6159_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:35px;
}
#u6159p000 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:6px;
  width:30px;
  height:8px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6159p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:30px;
  height:8px;
}
#u6159p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-6px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6159p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:30px;
  height:30px;
}
#u6159p002 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:16px;
  width:6px;
  height:8px;
  -webkit-transform:rotate(-1.3239170120023225deg);
  -moz-transform:rotate(-1.3239170120023225deg);
  -ms-transform:rotate(-1.3239170120023225deg);
  transform:rotate(-1.3239170120023225deg);
}
#u6159p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:6px;
  height:8px;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:128px;
  width:4px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(1.3239170120023225deg);
  -moz-transform:rotate(1.3239170120023225deg);
  -ms-transform:rotate(1.3239170120023225deg);
  transform:rotate(1.3239170120023225deg);
}
#u6159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6160_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:35px;
}
#u6160p000 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:6px;
  width:28px;
  height:8px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6160p000_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:28px;
  height:8px;
}
#u6160p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(89.67608298799767deg);
  -moz-transform:rotate(89.67608298799767deg);
  -ms-transform:rotate(89.67608298799767deg);
  transform:rotate(89.67608298799767deg);
}
#u6160p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u6160p002 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:16px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(-1.3239170120023225deg);
  -moz-transform:rotate(-1.3239170120023225deg);
  -ms-transform:rotate(-1.3239170120023225deg);
  transform:rotate(-1.3239170120023225deg);
}
#u6160p002_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:0px;
  width:8px;
  height:8px;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:130px;
  width:4px;
  height:20px;
  display:flex;
  -webkit-transform:rotate(1.3239170120023225deg);
  -moz-transform:rotate(1.3239170120023225deg);
  -ms-transform:rotate(1.3239170120023225deg);
  transform:rotate(1.3239170120023225deg);
}
#u6160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:70px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:551px;
  width:113px;
  height:70px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
}
#u6161 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6162_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:40px;
}
#u6162p000 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:7px;
  width:34px;
  height:10px;
  -webkit-transform:rotate(-269.7403273313514deg);
  -moz-transform:rotate(-269.7403273313514deg);
  -ms-transform:rotate(-269.7403273313514deg);
  transform:rotate(-269.7403273313514deg);
}
#u6162p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:10px;
}
#u6162p001 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-7px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(-269.7403273313514deg);
  -moz-transform:rotate(-269.7403273313514deg);
  -ms-transform:rotate(-269.7403273313514deg);
  transform:rotate(-269.7403273313514deg);
}
#u6162p001_img {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:-0px;
  width:30px;
  height:30px;
}
#u6162p002 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:21px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-90.7403273313514deg);
  -moz-transform:rotate(-90.7403273313514deg);
  -ms-transform:rotate(-90.7403273313514deg);
  transform:rotate(-90.7403273313514deg);
}
#u6162p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:544px;
  width:4px;
  height:25px;
  display:flex;
  -webkit-transform:rotate(90.7403273313514deg);
  -moz-transform:rotate(90.7403273313514deg);
  -ms-transform:rotate(90.7403273313514deg);
  transform:rotate(90.7403273313514deg);
}
#u6162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6163_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:56px;
}
#u6163p000 {
  border-width:0px;
  position:absolute;
  left:-24px;
  top:16px;
  width:52px;
  height:10px;
  -webkit-transform:rotate(-269.6572726013434deg);
  -moz-transform:rotate(-269.6572726013434deg);
  -ms-transform:rotate(-269.6572726013434deg);
  transform:rotate(-269.6572726013434deg);
}
#u6163p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:52px;
  height:10px;
}
#u6163p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(-269.6572726013434deg);
  -moz-transform:rotate(-269.6572726013434deg);
  -ms-transform:rotate(-269.6572726013434deg);
  transform:rotate(-269.6572726013434deg);
}
#u6163p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:32px;
  height:30px;
}
#u6163p002 {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:36px;
  width:8px;
  height:8px;
  -webkit-transform:rotate(-178.65727260134338deg);
  -moz-transform:rotate(-178.65727260134338deg);
  -ms-transform:rotate(-178.65727260134338deg);
  transform:rotate(-178.65727260134338deg);
}
#u6163p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:8px;
  height:8px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:501px;
  width:4px;
  height:41px;
  display:flex;
  -webkit-transform:rotate(178.65727260134338deg);
  -moz-transform:rotate(178.65727260134338deg);
  -ms-transform:rotate(178.65727260134338deg);
  transform:rotate(178.65727260134338deg);
}
#u6163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6164_img {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:-12px;
  width:28px;
  height:86px;
}
#u6164p000 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:30px;
  width:80px;
  height:10px;
  -webkit-transform:rotate(89.60501813402598deg);
  -moz-transform:rotate(89.60501813402598deg);
  -ms-transform:rotate(89.60501813402598deg);
  transform:rotate(89.60501813402598deg);
}
#u6164p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:10px;
}
#u6164p001 {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-6px;
  width:32px;
  height:30px;
  -webkit-transform:rotate(89.60501813402598deg);
  -moz-transform:rotate(89.60501813402598deg);
  -ms-transform:rotate(89.60501813402598deg);
  transform:rotate(89.60501813402598deg);
}
#u6164p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:30px;
}
#u6164p002 {
  border-width:0px;
  position:absolute;
  left:-0px;
  top:68px;
  width:6px;
  height:6px;
  -webkit-transform:rotate(-22.39498186597402deg);
  -moz-transform:rotate(-22.39498186597402deg);
  -ms-transform:rotate(-22.39498186597402deg);
  transform:rotate(-22.39498186597402deg);
}
#u6164p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:288px;
  width:4px;
  height:71px;
  display:flex;
  -webkit-transform:rotate(22.39498186597402deg);
  -moz-transform:rotate(22.39498186597402deg);
  -ms-transform:rotate(22.39498186597402deg);
  transform:rotate(22.39498186597402deg);
}
#u6164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:357px;
  width:135px;
  height:87px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6165 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:87px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:414px;
  width:135px;
  height:87px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6166 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:35px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  text-align:left;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:147px;
  width:133px;
  height:35px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  text-align:left;
}
#u6167 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:50px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:147px;
  width:113px;
  height:50px;
  display:flex;
  font-family:"Roboto Bold", "Roboto", sans-serif;
  font-style:normal;
  color:#000000;
  text-align:left;
}
#u6168 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
