body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:393px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u1371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
}
#u1371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:119px;
  display:flex;
  font-family:"Tw Cen MT Normal", "Tw Cen MT", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:30px;
  color:rgba(255, 255, 255, 0.6588235294117647);
}
#u1371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1372 {
  position:absolute;
  left:19px;
  top:21px;
}
#u1372_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1372_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u1373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u1373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u1374 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u1374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1372_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1372_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u1375 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u1375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:40px;
}
#u1376 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:19px;
  width:38px;
  height:40px;
  display:flex;
}
#u1376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1377 {
  position:absolute;
  left:293px;
  top:21px;
}
#u1377_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1377_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u1378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u1378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u1379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1377_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1377_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:78px;
  display:flex;
}
#u1380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:19px;
  width:50px;
  height:40px;
  display:flex;
}
#u1381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:2px;
}
#u1382 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:235px;
  width:331px;
  height:1px;
  display:flex;
}
#u1382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1383_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1383 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:179px;
  width:285px;
  height:21px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1383 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1383_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1384_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u1384 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:208px;
  width:302px;
  height:18px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u1384 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1384_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u1385 label {
  left:0px;
  width:100%;
}
#u1385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1385 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:175px;
  width:28px;
  height:27px;
  display:flex;
  font-size:36px;
}
#u1385 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1385_img.selected {
}
#u1385.selected {
}
#u1385_img.disabled {
}
#u1385.disabled {
}
#u1385_img.selected.error {
}
#u1385.selected.error {
}
#u1385_img.selected.hint {
}
#u1385.selected.hint {
}
#u1385_img.selected.error.hint {
}
#u1385.selected.error.hint {
}
#u1385_img.mouseOver.selected {
}
#u1385.mouseOver.selected {
}
#u1385_img.mouseOver.selected.error {
}
#u1385.mouseOver.selected.error {
}
#u1385_img.mouseOver.selected.hint {
}
#u1385.mouseOver.selected.hint {
}
#u1385_img.mouseOver.selected.error.hint {
}
#u1385.mouseOver.selected.error.hint {
}
#u1385_img.mouseDown.selected {
}
#u1385.mouseDown.selected {
}
#u1385_img.mouseDown.selected.error {
}
#u1385.mouseDown.selected.error {
}
#u1385_img.mouseDown.selected.hint {
}
#u1385.mouseDown.selected.hint {
}
#u1385_img.mouseDown.selected.error.hint {
}
#u1385.mouseDown.selected.error.hint {
}
#u1385_img.mouseOver.mouseDown.selected {
}
#u1385.mouseOver.mouseDown.selected {
}
#u1385_img.mouseOver.mouseDown.selected.error {
}
#u1385.mouseOver.mouseDown.selected.error {
}
#u1385_img.mouseOver.mouseDown.selected.hint {
}
#u1385.mouseOver.mouseDown.selected.hint {
}
#u1385_img.mouseOver.mouseDown.selected.error.hint {
}
#u1385.mouseOver.mouseDown.selected.error.hint {
}
#u1385_img.focused.selected {
}
#u1385.focused.selected {
}
#u1385_img.focused.selected.error {
}
#u1385.focused.selected.error {
}
#u1385_img.focused.selected.hint {
}
#u1385.focused.selected.hint {
}
#u1385_img.focused.selected.error.hint {
}
#u1385.focused.selected.error.hint {
}
#u1385_img.selected.disabled {
}
#u1385.selected.disabled {
}
#u1385_img.selected.hint.disabled {
}
#u1385.selected.hint.disabled {
}
#u1385_img.selected.error.disabled {
}
#u1385.selected.error.disabled {
}
#u1385_img.selected.error.hint.disabled {
}
#u1385.selected.error.hint.disabled {
}
#u1385_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1385_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:332px;
  height:2px;
}
#u1386 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:343px;
  width:331px;
  height:1px;
  display:flex;
}
#u1386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1387_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1387 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:251px;
  width:285px;
  height:42px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1387 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u1388 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:298px;
  width:302px;
  height:36px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u1388 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1389 label {
  left:0px;
  width:100%;
}
#u1389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1389 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:257px;
  width:28px;
  height:27px;
  display:flex;
  font-size:36px;
}
#u1389 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1389_img.selected {
}
#u1389.selected {
}
#u1389_img.disabled {
}
#u1389.disabled {
}
#u1389_img.selected.error {
}
#u1389.selected.error {
}
#u1389_img.selected.hint {
}
#u1389.selected.hint {
}
#u1389_img.selected.error.hint {
}
#u1389.selected.error.hint {
}
#u1389_img.mouseOver.selected {
}
#u1389.mouseOver.selected {
}
#u1389_img.mouseOver.selected.error {
}
#u1389.mouseOver.selected.error {
}
#u1389_img.mouseOver.selected.hint {
}
#u1389.mouseOver.selected.hint {
}
#u1389_img.mouseOver.selected.error.hint {
}
#u1389.mouseOver.selected.error.hint {
}
#u1389_img.mouseDown.selected {
}
#u1389.mouseDown.selected {
}
#u1389_img.mouseDown.selected.error {
}
#u1389.mouseDown.selected.error {
}
#u1389_img.mouseDown.selected.hint {
}
#u1389.mouseDown.selected.hint {
}
#u1389_img.mouseDown.selected.error.hint {
}
#u1389.mouseDown.selected.error.hint {
}
#u1389_img.mouseOver.mouseDown.selected {
}
#u1389.mouseOver.mouseDown.selected {
}
#u1389_img.mouseOver.mouseDown.selected.error {
}
#u1389.mouseOver.mouseDown.selected.error {
}
#u1389_img.mouseOver.mouseDown.selected.hint {
}
#u1389.mouseOver.mouseDown.selected.hint {
}
#u1389_img.mouseOver.mouseDown.selected.error.hint {
}
#u1389.mouseOver.mouseDown.selected.error.hint {
}
#u1389_img.focused.selected {
}
#u1389.focused.selected {
}
#u1389_img.focused.selected.error {
}
#u1389.focused.selected.error {
}
#u1389_img.focused.selected.hint {
}
#u1389.focused.selected.hint {
}
#u1389_img.focused.selected.error.hint {
}
#u1389.focused.selected.error.hint {
}
#u1389_img.selected.disabled {
}
#u1389.selected.disabled {
}
#u1389_img.selected.hint.disabled {
}
#u1389.selected.hint.disabled {
}
#u1389_img.selected.error.disabled {
}
#u1389.selected.error.disabled {
}
#u1389_img.selected.error.hint.disabled {
}
#u1389.selected.error.hint.disabled {
}
#u1389_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1389_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1390 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:363px;
  width:291px;
  height:42px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u1390 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1391_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#555555;
}
#u1391 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:410px;
  width:291px;
  height:54px;
  display:flex;
  font-size:16px;
  color:#555555;
}
#u1391 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1392 label {
  left:0px;
  width:100%;
}
#u1392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1392 {
  border-width:0px;
  position:absolute;
  left:332px;
  top:365px;
  width:28px;
  height:27px;
  display:flex;
  font-size:36px;
}
#u1392 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u1392_img.selected {
}
#u1392.selected {
}
#u1392_img.disabled {
}
#u1392.disabled {
}
#u1392_img.selected.error {
}
#u1392.selected.error {
}
#u1392_img.selected.hint {
}
#u1392.selected.hint {
}
#u1392_img.selected.error.hint {
}
#u1392.selected.error.hint {
}
#u1392_img.mouseOver.selected {
}
#u1392.mouseOver.selected {
}
#u1392_img.mouseOver.selected.error {
}
#u1392.mouseOver.selected.error {
}
#u1392_img.mouseOver.selected.hint {
}
#u1392.mouseOver.selected.hint {
}
#u1392_img.mouseOver.selected.error.hint {
}
#u1392.mouseOver.selected.error.hint {
}
#u1392_img.mouseDown.selected {
}
#u1392.mouseDown.selected {
}
#u1392_img.mouseDown.selected.error {
}
#u1392.mouseDown.selected.error {
}
#u1392_img.mouseDown.selected.hint {
}
#u1392.mouseDown.selected.hint {
}
#u1392_img.mouseDown.selected.error.hint {
}
#u1392.mouseDown.selected.error.hint {
}
#u1392_img.mouseOver.mouseDown.selected {
}
#u1392.mouseOver.mouseDown.selected {
}
#u1392_img.mouseOver.mouseDown.selected.error {
}
#u1392.mouseOver.mouseDown.selected.error {
}
#u1392_img.mouseOver.mouseDown.selected.hint {
}
#u1392.mouseOver.mouseDown.selected.hint {
}
#u1392_img.mouseOver.mouseDown.selected.error.hint {
}
#u1392.mouseOver.mouseDown.selected.error.hint {
}
#u1392_img.focused.selected {
}
#u1392.focused.selected {
}
#u1392_img.focused.selected.error {
}
#u1392.focused.selected.error {
}
#u1392_img.focused.selected.hint {
}
#u1392.focused.selected.hint {
}
#u1392_img.focused.selected.error.hint {
}
#u1392.focused.selected.error.hint {
}
#u1392_img.selected.disabled {
}
#u1392.selected.disabled {
}
#u1392_img.selected.hint.disabled {
}
#u1392.selected.hint.disabled {
}
#u1392_img.selected.error.disabled {
}
#u1392.selected.error.disabled {
}
#u1392_img.selected.error.hint.disabled {
}
#u1392.selected.error.hint.disabled {
}
#u1392_text {
  border-width:0px;
  position:absolute;
  left:27px;
  top:0px;
  width:-3px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u1392_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u1393 {
  position:absolute;
  left:54px;
  top:757px;
}
#u1393_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background:inherit;
  background-color:rgba(5, 2, 164, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1393_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u1393_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  background:inherit;
  background-color:rgba(88, 0, 170, 0.6588235294117647);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u1395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:43px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u1395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1396_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1396 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:49px;
  width:157px;
  height:23px;
  display:flex;
  font-family:"Arial Negrita", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u1396 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u1396_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
